.academy-card {
    border: 1px solid #b3b8d2;
    border-radius: 0.5rem;
}

.academy-card:hover {
    background-color: rgb(241, 242, 247);
}

html[data-theme="dark"] .academy-card:hover {
    background-color: rgb(30, 40, 59);
}